pillow
pyyaml
matplotlib
jupyter
notebook
tensorboardx
tensorboard
protobuf
cython
scipy
pycocotools 
tqdm
torchvision
torch
pytorch-lightning
torchsummary
motmetrics
numpy
pydevd-pycharm
wandb
easydict
xlsxwriter
opencv-python-headless==4.1.2.30
fvcore
tdqm
PyQt5
h5py
pandas
psutil
imageio
torchaudio
timm

